body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  header, section, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* CSS za navigacijski izbornik */
  nav {
    background-color: #333;
    padding: 10px;
    border-radius: 5px; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li.active a {
    background-color: #555;
  }
  
  
  header {
    background-color: #ffddcc;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  section {
    margin-top: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    margin-top: auto;
  }
  
  @media only screen and (max-width: 768px) {
    header, section, footer {
      padding: 10px;
    }
  }
  
